<div class="page-header">
  <h1>Add New Vehicle</h1>
  <p>Register a new vehicle to your fleet</p>
</div>

<div class="card">
  <div class="card-header">
    <h3>Vehicle Details</h3>
  </div>
  <div class="card-body">
    <%= render 'form', vehicle: @vehicle, submit_text: "Add Vehicle" %>
  </div>
</div>